<div class="row header">
  <div class="col-3">
    <a  class="nav-link" routerLink="home">Pootosh</a>
  </div>

  <div class="col">
    <div class="row" style="position: absolute; right: 10px;">
      <div class="col">
        <a class="nav-link" routerLink="blog">Blog</a>
      </div>
      <div class="col">
        <a class="nav-link" routerLink="about">About</a>
      </div>

      <div class="col">
        <a class="nav-link" href="https://github.com/pootosh" target="_blank">Github</a>
      </div>
    </div>

  </div>

</div>
