<div class="container-fluid mt-3">
  <h3 class="text-center name">Aditya Kumar Singh</h3>

  <p class="text-center description">
    Hello, I am Aditya Kumar Singh a computer science student from KIIT
    University passionate about Data Science & looking for an opportunity to
    exploit my current skills and become a prominent Data Scientist. Good
    problem-solving skills and ability to perform well in a team. Seeking a
    challenging position as a Data Scientist in a well-established company that
    offers professional growth and ample opportunity to learn.
  </p>
</div>
